@model BookDetailsResponse
@{
    ViewData["Title"] = Model.Title;
    var rec = (List<BookVM>)ViewBag.Recommended;
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Home</a>
        <span class="breadcrumb-item">Product</span>
        <span class="breadcrumb-item active">@Model.Title</span>
    </div>
</div>
<section class="product-sec">
    <div class="container">
        <h1>@Model.Title</h1>
        <div class="row">
            <div class="col-md-6 slider-sec">
                <!-- main slider carousel -->
                <div id="myCarousel" class="carousel slide">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        @foreach (var item in Model.Images.OrderBy(x => x.Sort))
                        {
                            <div class="@((item.Sort - 1) == 0 ? "active" : "") item carousel-item" data-slide-number="@(item.Sort - 1)">
                                <img src="@item.ImgPath" class="img-fluid" style="width:360px; height:560px">
                            </div>
                        }
                    </div>
                    <!-- main slider carousel nav controls -->
                    <ul class="carousel-indicators list-inline">
                        @foreach (var item in Model.Images.OrderBy(x => x.Sort))
                        {
                            <li class="list-inline-item @((item.Sort - 1) == 0 ? "active" : "")">
                                <a id="carousel-selector-@(item.Sort - 1)" @((item.Sort - 1) == 0 ? "class=selected" : "") data-slide-to="@(item.Sort - 1)" data-target="#myCarousel">
                                    <img src="@item.ImgPath" class="img-fluid">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!--/main slider carousel-->
            </div>
            <div class="col-md-6 slider-content">
                <div>
                    @Html.Raw(Model.Description)
                </div>
                <ul>
                    <li>
                        <span class="name">Digital List Price</span><span class="clm">:</span>
                        <span class="price">@Model.Price.ToString("c")</span>
                    </li>
                    <li>
                        <span class="name">Print List Price</span><span class="clm">:</span>
                        <span class="price">@Model.Price.ToString("c")</span>
                    </li>
                    <li>
                        <span class="name">Kindle Price</span><span class="clm">:</span>
                        <span class="price final">@Model.Price.ToString("c")</span>
                    </li>
                    <li><span class="save-cost">Save $7.62 (69%)</span></li>
                </ul>
                <div class="btn-sec">
                    <button class="btn ">Add To cart</button>
                    <button class="btn black">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_RecommendedBooks" model="@rec" />
