@model ShoppingCartViewModel
@{ ViewData["Title"] = "Cart";
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Home</a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</div>
<div class="container">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                    <th scope="col" width="200" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td>
                            <figure class="media">
                                <div class="img-wrap"><img src="@item.Book.Images.FirstOrDefault(x => x.Sort == 1).ImgPath" class="img-thumbnail img-sm"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">@item.Book.Title </h6>
                                    <dl class="param param-inline small">
                                        <dt>Size: </dt>
                                        <dd>XXL</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Color: </dt>
                                        <dd>Orange color</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            @item.Amount
                            @*<select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>*@
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">@((item.Amount * item.Book.Price).ToString("c"))</var>
                                <small class="text-muted">(@item.Book.Price.ToString("c"))</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a asp-action="RemoveFromShoppingCart" asp-route-bookId="@item.Book.Id" class="btn btn-outline-danger"> × Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> <!-- card.// -->

</div>
